<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>

<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="footerContainer">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <p>Welcome to a wonderful software, here to help you with your need of calculating average grades. 
        This is a useful as it allows you to enter a grade out of any total and will calculate your average grade
      <p>
      <img src = "/images/gpa.jpg">
    </div>
  </div>
</main>

<%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %>